body {
  font-family: "Poppins", sans-serif;
}
.headding {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  border-left: 4px solid orangered;
  padding-left: 10px;
}
.orange-color {
  color: orange;
}

.top-banner {
  display: flex;
  justify-content: space-around;
}
.half-width {
  width: 40%;
}
.half-width img {
  width: 60%;
}
.anchor {
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}
.second-headding {
  font-size: 45px;
  text-align: center;
  color: rgb(1, 1, 27);
}
.second-banner {
  margin-top: 50px;
  padding-left: 45px;
}
.mission {
  background-color: rgba(125, 207, 207, 0.308);
}
.vission {
  background-color: rgba(231, 122, 142, 0.336);
}
.goals {
  background-color: rgba(184, 184, 127, 0.521);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartoon {
  width: 25%;
  padding: 10px;
}
.card {
  border-radius: 26px;
  width: 25%;
  padding: 25px;
}
.container-two {
  display: flex;
}
.third-banner {
  margin-top: 80px;
  background-image: url(./shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position-y: 20%;
}
.third-width {
  width: 40%;
}
.third-width img {
  width: 70%;
  padding-left: 60px;
}
.read {
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}
.fourth-banner {
  margin-top: 80px;
  background-image: url(./shapes/shape-3.png);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position-x: 95%;
  background-position-y: 105%;
}
.hub {
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}
.container-three {
  display: flex;
}
.fourth-width {
  width: 50%;
  margin-left: 10%;
}
.fourth-width img {
  width: 75%;
}
.last-heading {
  font-size: 45px;
  text-align: center;
  color: rgba(0, 0, 19, 0.911);
}
.myself-banner {
  margin-top: 100px;
}
.myself-container {
  display: flex;
}
.myself-width {
  width: 50%;
  margin-left: 5%;
  padding-right: 50px;
}
.myself-width img {
  width: 75%;
  padding-left: 60px;
  margin-left: 30px;
}
.visit {
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}
.last-footer {
  text-align: center;
  background-color: black;
}
.white-color {
  text-decoration-color: blanchedalmond;
}
